* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

header {
  z-index: 99;
}

img {
  max-width: 100%;
  object-fit: cover;
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

/* Base styles for consistent size */
.range-slider {
  appearance: none;
  width: 100%;
  height: 6px;
  background: white;
  border-radius: 5px;
  cursor: pointer;
}

/* Track (Chrome, Safari) */
.range-slider::-webkit-slider-runnable-track {
  background: white;
  height: 6px;
  border-radius: 5px;
}

/* Thumb (Chrome, Safari) */
.range-slider::-webkit-slider-thumb {
  appearance: none;
  height: 35px;
  width: 35px;
  background-color: #63babd; /* Change to your color */
  border-radius: 50%;
  border: 2px solid #63babd;
  margin-top: -14px;
  cursor: grab;
}

/* Track (Firefox) */
.range-slider::-moz-range-track {
  background: white;
  height: 10px;
  border-radius: 5px;
}

/* Thumb (Firefox) */
.range-slider::-moz-range-thumb {
  height: 30px;
  width: 30px;
  background-color: #63babd;
  border: 2px solid #63babd;
  border-radius: 50%;
  cursor: grab;
}

/* #pricing-estimator, #pricing-estimator *  {
    border: solid red;

} */

#stories-scroll {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  pointer-events: none;
}

#stories-scroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
